<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/master.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#c31a1c">
    <meta name="msapplication-TileColor" content="#c31a1c">
    <meta name="theme-color" content="#c31a1c">
    <title>Studentská Unie</title>
  </head>
  <body>
    <nav id="navigation" class="inactive">
      <ul>
        <div class="nav-top">
          <div class="container-center">
            <li id="open_nav">
              <span class="nav-icons"><img src="../img/icon_menu.svg" alt="Icon"></span>
              <img src="../img/su_logo-medium.svg" alt="SU" class="nav-top-logo">
            </li>
            <li>
              <span class="nav-icons"><img src="../img/icon_search.svg" alt="Icon"></span>
              <div class="nav-input-container">
                <span class="searchbar-icon"><img src="../img/search.svg" alt="search"></span>
                <input type="text" name="Search" value="" class="search-box" placeholder="Search...">
              </div>
            </li>
          </div>
        </div> <!-- after line -->
        <div class="nav-bottom">
          <li>
            <span class="nav-icons"><img src="../img/icon_home.svg" alt="Icon"></span>
            <span class="nav-content">Domů</span>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_su_logo.svg" alt="Icon"></span>
            <span class="after nav-content">O Studentské Unii ČVUT</span>
            <ul class="inactive">
              <li>Whatever</li>
              <li>another</li>
            </ul>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_calendar.svg" alt="Icon"></span>
            <span class="after nav-content">Události</span>
            <ul class="submenu inactive">
              <li>Whatever</li>
              <li>another</li>
            </ul>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_edit.svg" alt="Icon"></span>
            <span class="nav-content">Příspěvky</span>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_beer.svg" alt="Icon"></span>
            <span class="after nav-content">Kluby Studentské Unie ČVUT</span>
            <ul class="submenu inactive">
              <li>Whatever</li>
              <li>another</li>
            </ul>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_project.svg" alt="Icon"></span>
            <span class="after nav-content">Projekty SU ČVUT</span>
            <ul class="submenu inactive">
              <li>Whatever</li>
              <li>another</li>
            </ul>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_phone.svg" alt="Icon"></span>
            <span class="nav-content">Kontakty</span>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_download.svg" alt="Icon"></span>
            <span class="after nav-content">Dokumenty / Ke stažení</span>
            <ul class="submenu inactive">
              <li>Whatever</li>
              <li>another</li>
            </ul>
          </li>
          <li>
            <span class="nav-icons"><img src="../img/icon_media.svg" alt="Icon"></span>
            <span class="nav-content">Pro média</span>
          </li>
        </div>
      </ul>
      <img src="../img/su_logo-large.svg" alt="SU logo" class="nav-large_logo">
    </nav>
    <!-- Black overlay to close nav when active -->
    <div class="o_inactive" id="overlay">
    </div>
    <header>

    </header>
    <main>
      <div class="main-container">

        <!-- PLACE CONTENT HERE -->

      </div>
    </main>
    <footer>
      <div class="footer-main-grid">
        <div class="footer-container">
          <span class="footer-text">#SUCVUT</span>
          <div class="social-icons">
            <span class="foot-icons"><a href="https://www.facebook.com/SUCVUT/" target="_blank" ><img src="../img/facebook.svg" alt="Facebook" class="social-icon"></a></span>
            <span class="foot-icons"><a href="https://twitter.com/SUCVUT" target="_blank"><img src="../img/twitter.svg" alt="Twitter" class="social-icon"></a></span>
            <span class="foot-icons"><a href="#" target="_blank"><img src="../img/instagram.svg" alt="Instagram" class="social-icon"></a></span>
          </div>
        </div>
        <div class="join">
          <a href="#">
            <div class="join-button">
              <span>Přidej se k nám!</span>
            </div>
          </a>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/auto_height.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/smooth-scroll.js"></script>
  </body>
</html>
